* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav {
    background-color: black;
    color: #FFFFFF;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 14px;
    gap: 18px;
    margin-bottom: 14px;
}

.head-feed{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.foto-perfil img{
    width: 60px;
    border-radius: 50%;
    object-fit: cover; 
}

.head-feed h1 {
    margin-left: 13px;
    font-size: 20px;
    font-weight: bold;
}

.foto-feed img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.foto-feed:hover {
    transition: all 0.5;
    transform: scale(1.01);
}

.actions {
    margin: 8px 0;
}

.link {
    color: black;
    text-decoration: underline;
}